@font-face {
    font-family: BakbakOne;
    src: url("https://beepcomp.co/fonts/BakbakOne-Regular.ttf");
}

* {
  font-family: BakbakOne;
}

body {
    width: var(--scr-width);
    max-width: var(--scr-width);
    height: var(--scr-height);
    max-height: var(--scr-height);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background: linear-gradient(to bottom, #030303, #101010);
}

.layer {
    position: absolute;
    width: 100%;
    /* max-width: var(--scr-width); */
    height: 100%;
    /* max-height: var(--scr-height); */
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.signup-button {
    font-family: BakbakOne;
    font-size: 32px;
    color: white;
    background: linear-gradient(to top, color-mix(in srgb, var(--color) 25%, #0D0D0D 75%), #0D0D0D);
    border: var(--color) solid 8px;
    border-radius: 24px;
    height: 64px;
    opacity: 0.3;
    transition: all 100ms ease;
    cursor: pointer;
    /* transition-property: opacity; */
    /* -webkit-text-stroke: 5px #0D0D0D; */
    /* text-stroke: 5px #0D0D0D; */
  }
  .signup-button:hover {
    opacity: 1.0;
    transform: scale(1.05);
  }

  .terminal-subtext {
    font-family: BakbakOne;
    font-size: calc(28px + (15px * var(--is-mobile)));
    color: #ffffff3c;
    /* opacity: 0.25; */
    font-style: italic;
    text-align: center;
    overflow: hidden;
  }

  .terminal-subtext-bold {
    color: #ffffff4c;
    font-weight: bold;
  }

  .terminal-subtext-hidden {
    color: #ffffff08;
  }

  .terminal-input {
    font-family: BakbakOne;
    font-size: 32px;
    color: white;
    background: #0c0c0c;
    border: var(--color) solid 8px;
    border-radius: 24px;
    height: 64px;
  }